[Desktop Entry]
Encoding=UTF-8
Name=KBFX Configurator
Name[da]=KBFX-indstilling
Name[de]=KBFX einrichten
Name[el]=Ρύθμιση KBFX
Name[es]=Cofigurador de KBFX
Name[et]=KBFX seadistaja
Name[fr]=Configuration de KBFX
Name[ga]=Cumraitheoir KBFX
Name[ja]=KBFX 設定ツール
Name[pt]=Configuração do KBFX
Name[pt_BR]=Configurador do KBFX
Name[sv]=KBFX-inställning
Comment=KBFX Configuration Utility
Comment[bg]=Настройка на KBFX
Comment[br]=Ostilh kefluniadur KBFX
Comment[da]=KBFX-indstillingsværktøj
Comment[de]=KBFX Konfigurationswerkzeug
Comment[el]=Εργαλείο ρύθμισης του KBFX
Comment[es]=Utilidad de configuración de KBFX
Comment[et]=KBFX seadistamistööriist
Comment[fr]=Outil de configuration des services KBFX
Comment[ga]=Uirlis Chumraíochta KBFX
Comment[gl]=Ferramenta de Configurazón de KBFX
Comment[ja]=KBFX 設定ユーティリティ
Comment[nl]=KBFX-configuratieprogramma
Comment[pt]=Utilitário de Configuração do KBFX
Comment[pt_BR]=Utilitário para Configuração do KBFX
Comment[sv]=KBFX-inställningsverktyg
Icon=kbfxconfigapp
Exec=kbfxconfigapp
Type=Application
Categories=Qt;KDE;System;Configuration;
DocPath=kbfxconfigapp/index.html
X-DCOP-ServiceType=Unique
