[Desktop Entry]
Encoding=UTF-8
Name=KBFX Theme Installer
Name[de]=Installations von KBFX-Themes
Name[el]=Εγκατάσταση θέματος KBFX
Name[et]=KBFX teema paigaldaja
Name[fr]=Outil d'installation des thèmes KBFX
Name[ja]=KBFX テーマインストーラ
Name[nl]=KBFX-thema-installatie
Name[pt]=Instalador de Temas do KBFX
Name[pt_BR]=Instalador de Temas do KBFX
Name[sv]=KBFX-temainstallation
Exec=kbfxconfigapp --install %u
Icon=kbfxconfigapp
Type=Application
MimeType=application/x-kbfxtheme
NoDisplay=true

